/* * {
    margin: 0% !important;
} */

body {
    background-color: #F2F4F8;
}

.smallText {
    font-size: 14px;
    color: black;
}

.icon-Fonts {
    font-size: 40px !important;

}

.productsStyle:hover {
    box-shadow: 1px 5px 10px gainsboro !important;
    transform: translateY(-1px);
}

.productsCardTitle:hover {
    color: rgb(255, 56, 30);

}