/* * {
    margin: 0% !important;
} */

body {
    background-color: #F2F4F8;
}

.smallText {
    font-size: 14px;
    color: black;
}

.navbar-toggler,
.navbar-toggler-icon {
    color: #F2F4F8 !important;
    background-color: #F2F4F8;
    font-size: small;
}

.icon-Fonts {
    font-size: 40px !important;
}

.icon-FontsNav {
    font-size: 30px !important;
    color: #EF4A23;
}

.productsStyle{
    border: 0px !important;
    border-radius: 5px !important;
}

.productsStyle:hover {
    box-shadow: 1px 5px 10px gainsboro !important;
    transform: translateY(-1px);
 
}

.productsCardTitle:hover {
    color: rgb(255, 56, 30);

}


.navbar-Account {
    text-decoration: none;
    color: aliceblue;
}

.navbar-Account:hover {
    color: orangered;
}

/* Product Card small device responsive */
@media only screen and (max-width: 600px) {
    .cardWidth {
        width: 100% !important;
       
    }
}


.footers-Style {
    background-color: #081621;
}

.footerFontsColor {
    color: orangered !important;
    font-weight: 600;
}


.footerFontsColorHover:hover {
    color: orangered !important;
}

.foterMiniRound {
    border-radius: 60px;
    padding: 5px 10px;
}

.foterMiniRound:hover {
    border-color: orangered !important;
    background-color: #061018 !important;
}